body{

font-family:Arial;
background:#460a8a;

}


.container{

width:300px;
margin:100px auto;
background:rgb(228, 13, 160);
padding:25px;
border-radius:10px;
text-align:center;

}



input{

width:90%;
padding:10px;
margin:10px;

}



button{

padding:10px 20px;
margin:10px;
cursor:pointer;

}



.pass{

display:flex;
align-items:center;

}


.pass input{

width:70%;

}


.card{

background:#480fc1;
padding:20px;
border-radius:10px;

}